<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻中心</title>
</head>
<body>

<ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">菜单按钮管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" id="11">列表一</a></dd>
                        <dd><a href="javascript:;" id="12">列表二</a></dd>
                    </dl>
                </li>
</ul>

</body>
</html>